
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,700&display=swap');

/* MAIN BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ft_transcendence {
    width: 100%;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* DASHBOARD */

.logo {
    margin-top: 15px;
    width: 100px;
    height: auto;
    position: relative;
    transition: transform 0.3s ease;
}

.logo:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(34, 34, 34, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* DASHBOARD CONTAINER */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* CONTENT */
.content {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
    width: 100%;
}

/* FRIENDS LIST */
.sidebar {
    width: 15%;
    min-width: 150px;
    background: rgba(34, 34, 34, 0.8);
    padding: 10px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6);
}

.title-friends {
    font-size: 1.5rem;
    color: #ff5722;
    text-align: center;
    margin-bottom: 10px;
}

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    background: rgba(34, 34, 34, 0.7);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    color: white;
    border: 1px solid transparent;
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
}

.list-group-item:hover {
    background: rgba(98, 98, 98, 0.7);
    transform: translateY(-2px);
    border-color: #FF8C00;
}

/* GAME CONTAINER */
.game-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(34, 34, 34, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

iframe#pong {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* CHAT CONTAINER */
.chat-container {
    width: 15%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    background: rgba(34, 34, 34, 0.8);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.6);
}

.title-chat {
    font-size: 1.5rem;
    color: #ff5722;
    text-align: center;
    margin-bottom: 10px;
}

.chat-log {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: rgba(34, 34, 34, 0.7);
}

.input-container {
    display: flex;
    align-items: center;
    padding: 5px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 25px;
    border: 1px dashed #555;
    margin: 7px;
}

#message-input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    background: transparent;
    color: #e0e0e0;
    font-size: 14px;
}

#message-input::placeholder {
    color: #888;
}

#send-button {
    width: 36px;
    height: 36px;
    background-color: #FF8C00;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    padding: 0;
}

#send-button:hover {
    background-color: #FFA500;
}

/* OTHER */

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    font-size: 0.9rem;
}

/* CHAT */
.username-link {
    color: #FF8C00;
    font-weight: 700;
}


/* ONLINE STATUS */

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.status-dot.online {
    background-color: #28a745;
}

.status-dot.offline {
    background-color: #dc3545;
}
