@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    height: 100%;
}

/* CONTAINER */

.container.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    height: 100%;
    padding: 20px;
}

/* LOGO */

#logo_pong_login {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    width: 150px;
    height: auto;
}

/* FORM */

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* TITLE */
h1.login-title {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(135deg, #ff5722, #ffcc80);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 20px;
    text-align: center;
}

/* INPUTS */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #333;
    border-radius: 5px;
    color: #e0e0e0;
    transition: border-color 0.3s ease;
}

/* BUTTONS */
.btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
    background-color: #ff5722;
    color: white;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

.btn-outline-light {
    background-color: transparent;
    border: 2px solid #ff5722;
    color: #ff5722;
}

.btn-outline-light:hover {
    background-color: #ff5722;
    color: white;
}

/* FOOTER */

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    font-size: 0.9rem;
}

/* TOAST */
.toast .toast-body {
    color: white;
}

.toast-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#loginToast .toast-body {
    background-color: #ffffff;
    color: #000000;
}

#successToast .toast-body {
    background-color: #ffffff;
    color: #000000;
}
